@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

/*  styling scrollbars  */

::-webkit-scrollbar {
	width: 5px;
	height: 6px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px #a5aaad;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: #3ea175;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #a5aaad;
}

* {
	margin: 0;
	padding: 0;
}

body {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.text-primary-p {
	color: #a5aaad;
	font-size: 14px;
	font-weight: 700;
}

.font-bold {
	font-weight: 700;
}

.text-title {
	color: #2e4a66;
}

.text-lightblue {
	color: #469cac;
}

.text-red {
	color: #cc3d38;
}

.text-yellow {
	color: #a98921;
}

.text-green {
	color: #3b9668;
}

.container {
	display: grid;
	height: 100vh;
	grid-template-columns: 0.8fr 1fr 1fr 1fr;
	grid-template-rows: 0.2fr 3fr;
	grid-template-areas:
		'sidebar nav nav nav'
		'sidebar main main main';
	/* grid-gap: 0.2rem; */
}

.navbar {
	background: #ffffff;
	grid-area: nav;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 30px 0 30px;
	border-bottom: 1px solid lightgray;
}

.nav_icon {
	display: none;
}

.nav_icon > i {
	font-size: 26px;
	color: #a5aaad;
}

main {
	background: #f3f4f6;
	grid-area: main;
	overflow-y: auto;
}

.main__container {
	padding: 20px 35px;
}

.main__title {
	display: flex;
	align-items: center;
}

.main__greeting > h1 {
	font-size: 24px;
	color: #2e4a66;
	margin-bottom: 5px;
}

.main__greeting > p {
	font-size: 14px;
	font-weight: 700;
	color: #a5aaad;
}

.main__cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 30px;
	margin: 20px 0;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 70px;
	padding: 25px;
	border-radius: 5px;
	background: #ffffff;
	box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}

.card_inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card_inner > span {
	font-size: 25px;
}

.charts {
	display: grid;
	grid-template-columns: 1fr;
	gap: 30px;
	margin-top: 50px;
}

.charts__right {
	padding: 25px;
	border-radius: 5px;
	background: #ffffff;
	box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}

.charts__right__title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.charts__right__title > div > h1 {
	font-size: 24px;
	color: #2e4a66;
	margin-bottom: 5px;
}

.charts__right__title > div > p {
	font-size: 14px;
	font-weight: 700;
	color: #a5aaad;
}

.charts__right__title > i {
	color: #ffffff;
	font-size: 20px;
	background: #39447a;
	border-radius: 200px 0px 200px 200px;
	-moz-border-radius: 200px 0px 200px 200px;
	-webkit-border-radius: 200px 0px 200px 200px;
	border: 0px solid #000000;
	padding: 15px;
}

.charts__right__cards {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
	margin-top: 30px;
}

.card1 {
	background: #d1ecf1;
	color: #35a4ba;
	text-align: left;
	padding: 25px;
	border-radius: 5px;
	font-size: 14px;
}

.card1__body {
	display: flex;
	justify-content: space-between;
}

.card1__button__group {
	padding: 5px;
}

.card1__button__group button {
	text-transform: uppercase;
	font-weight: bold;
}

.card1__button__group button {
	padding: 10px 35px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	box-shadow: 4px 5px 15px 1px #a5aaad;
	cursor: pointer;
	outline: none;
	color: #f3f4f6;
}

.card1__button__get {
	background-color: #35a4ba;
}

.card1__button__delete {
	background-color: #cc3d38;
	margin-left: 5px;
}

#sidebar {
	background: #020509;
	grid-area: sidebar;
	overflow-y: auto;
	padding: 20px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.sidebar__title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #f3f4f6;
	margin-bottom: 30px;
}

.sidebar__img {
	display: flex;
	align-items: center;
}

.fa-dashcube {
	font-size: 25px;
}

.sidebar__heading {
	margin-left: 15px;
}

.sidebar__title > div > h1 {
	font-size: 18px;
	display: inline;
}

.sidebar__title > i {
	display: none;
	font-size: 21px;
	margin-left: 13px;
	color: #e65061;
}

.sidebar__menu > h2 {
	color: #3ea175;
	font-size: 16px;
	margin-top: 15px;
	margin-bottom: 5px;
	padding: 0 10px;
	font-weight: 700;
}

.sidebar__link {
	color: #f3f4f6;
	padding: 10px;
	border-radius: 3px;
	margin-bottom: 5px;
}

.active_menu_link {
	background: rgba(62, 161, 117, 0.3);
	color: #3ea175;
}

.active_menu_link a {
	color: #3ea175 !important;
}

.sidebar__link > a {
	text-decoration: none;
	color: #a5aaad;
	font-weight: 700;
}

.sidebar__link > i {
	margin-right: 10px;
	font-size: 18px;
}

.sidebar__logout {
	margin-top: 20px;
	padding: 10px;
	color: #e73f53;
}

a:hover {
	color: #ffffff;
}

.sidebar__logout > a {
	text-decoration: none;
	color: #eb364b;
	font-weight: 700;
	text-transform: uppercase;
}

#logout:hover {
	color: #f50722;
}

.sidebar__logout > i {
	margin-right: 10px;
	font-size: 18px;
}

.sidebar_responsive {
	display: block !important;
	z-index: 9999 !important;
	left: 0 !important;
	position: absolute;
}

a {
	text-decoration: none;
	color: #ffffff;
}

.card1 {
	box-shadow: 4px 5px 15px 1px #a5aaad;
	transition: all 0.2s ease-in-out;
}

.card1:hover {
	transform: scale(1.025);
}

@media only screen and (max-width: 978px) {
	.container {
		grid-template-columns: 1fr;
		grid-template-rows: 0.2fr 3fr;
		grid-template-areas:
			'nav'
			'main';
	}

	#sidebar {
		display: none;
	}

	.sidebar__title > i {
		display: inline;
	}

	.nav_icon {
		display: inline;
	}
}

@media only screen and (max-width: 855px) {
	.main__cards {
		grid-template-columns: 1fr;
		gap: 10px;
		margin-bottom: 0;
	}

	.charts {
		grid-template-columns: 1fr;
		margin-top: 30px;
	}
}

@media only screen and (max-width: 500px) {
	.navbar__left {
		display: none;
	}

	.card1__body {
		flex-direction: column;
	}

	.card1__button__group button {
		padding: 5px 10px 5px 10px;
	}
}
